* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f6f8;
    color: #333;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.hero {
    background: #4f46e5;
    color: white;
    padding: 100px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #4f46e5;
    text-decoration: none;
    border-radius: 5px;
}

.skills ul {
    list-style: none;
    margin-top: 20px;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    background: white;
    border-radius: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}

.project-card a {
    text-decoration: none;
    color: #4f46e5;
}
html {
    scroll-behavior: smooth;
}
#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background: #4f46e5;
    color: white;
    cursor: pointer;
    display: none;
}
.hero .btn:hover {
    background: #e0e7ff;
    transform: scale(1.05);
    transition: 0.3s ease;
}
